.comment-2222{
  display: flex;
  margin-top: 130px;
  width: 1500px;
  display: flex;
  margin-top: 30px;
  background: url('commentimage.jpg') no-repeat ;
  background-size: cover; 
  background-position: center; 
  margin-top: 130px;
}

.show-table{
  font-size: 20px;
  margin: 0 auto;
  border: 1px solid black;
}

.show-main2{
  padding-left: 50px;
  padding-top: 20px;
  width: 400px;
  height: 800px;
  border-radius: 30px;
  margin-left: 130px;
}

.check-show-table {
   width: 300px;
   border-collapse: collapse; /* テーブルセルの境界を結合し、線を表示 */
}

.check-show-table th {
  background-color: #f0e8e8; /* ヘッダーの背景色 */
  border: 1px solid #000; /* セルの境界線 */
  padding: 1px; /* セル内の余白 */
  text-align: center; /* テキストの配置 */
}

.check-show-table  td {
  background-color: white;
  border: 1px solid #000; /* セルの境界線 */
  padding: 1px; /* セル内の余白 */
  text-align: right; /* テキストの配置 */
}

.comment-main{
  padding-left: 40px;
}


.comment-messages{
  width: 800px;
  height: 250px;
  border-radius: 30px;
}

.comment-messages-edit{
  text-align: center;
  padding-top: 130px;
}



.comment1{
  text-align: center;
}

.board-text{
  font-size: 50px;
  margin-top: 40px;
}

.board-text-edit{
  font-size: 50px;
  margin-top: 40px;
  border: 2px solid black;
}


.board-btn{
  font-size: 30px;
  margin-left: 435px;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
}


.comment-show{
  padding-left: 70px;
  
}

.comment3{
  font-size: 30px;
  padding-top:30px;
  padding-left: 200px;
}

.comment-table{
  width: 650px;
  border-collapse: collapse;
  text-align: center; 
  margin-top: 30px;
  background-color: white;
  
}

.comment-table th{
  background-color: #f0e8e8;
  border: 1px solid #000; /* セルの境界線 */
  padding: 3px; /* セル内の余白 */
  text-align: center; /* テキストの配置 */
}
.comment-table td{
  border: 1px solid #000; /* セルの境界線 */
  padding: 3px; /* セル内の余白 */
  text-align: left; /* テキストの配置 */

}

.th1{
  width: 400px;
}


.comment-show{
  width: 800px;
  height: 400px;
}

.comment-title{
  font-size: 30px;
  line-height: 20px;
  text-align: center;
  padding-top: 15px;
}







