.comment-2222{
  display: flex;
  margin-top: 130px;
}

.show-table{
  font-size: 20px;
  margin: 0 auto;
  border: 1px solid black;
  
}

.show-main2{
  width: 800px;
  height: 600px;
  justify-content: space-around;
  background-color: rgb(238, 238, 201);
  padding-top: 15px;
  padding-left: 15px;
}


.comment-messages{
  width: 700px;
  height: 250px;
  background-color: yellow;
}

.comment1{
  text-align: center;
  
}

.board-text{
  font-size: 50px;
  margin-top: 40px;
}


.board-btn{
  font-size: 40px;
  margin-left: 410px;
}














.comment-show{
  width: 700px;
  height: 250px;
  background-color: yellow;
  
}

.comment-title{
  font-size: 30px;
  line-height: 20px;
  text-align: center;
  padding-top: 15px;
}

