

.field7{
  padding-bottom: 50px;
  font-size: 30px;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
}



.actions7{
  text-align: center;
  padding-bottom: 30px;
  
}

.actions8{
  font-size: 20px;
  padding: 5px 20px;
}