
.main{
  height: 530px;
  width: 1500px;  
  
  background: url('sakura.png') no-repeat ;
  background-size: 1000px; 
  background-position: center; 
  margin-top: 130px;
  
}

.messages{
  font-weight: bold;
  padding-bottom: 30px;
}

.form{
  margin-left: 500px;
  padding-top: 160px;
  height: 120px;
  width: 500px;
  text-align:center;
  
  opacity: 80%;
}

.good-morning span{
  color: black;
  font-size: 60px;
  font-weight: bold;
  
}

.sell-btn{
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #81d2dd;
  border-bottom: 5px solid #54c5bf;
  cursor: pointer;
  font-size: 40px;
  border-radius: 30px;
  
}


.number-box{
  font-size: 40px;
  
}

.comment{
  position: absolute;
  right:200px;
  font-size: 50px;
  background-color: orange;
}




.check-content{
  font-size: 40px;
  text-align:center;
}

.attendance-box{
  font-size: 40px;
}



.check-comment{
  padding-top: 10px;
  margin-left: auto;
  margin-right: 40px;
  width: 400px;
  font-size: 30px;
  border: 1px solid black;
}
.check-comment p {
  margin-top: 10px;
}

