
.main{
  height: 530px;
  width: 1500px;  
  position: relative;
  background: url('sakura.png') no-repeat ;
  background-size: 1000px; 
  background-position: center; 
  
}

.messages{
  font-weight: bold;
}

.form{
  position: absolute;
  left: 500px;
  top: 50px;
  height: 120px;
  width: 500px;
  text-align:center;
  background-color: orange;
  opacity: 80%;
}

.good-morning span{
  color: black;
  font-size: 60px;
  font-weight: bold;
  
}

.sell-btn{
  font-size: 30px;
  font-weight: bold;
}


.number-box{
  font-size: 40px;
  
}

.comment{
  position: absolute;
  right:200px;
  font-size: 50px;
  background-color: orange;
}




.check-content{
  font-size: 40px;
  text-align:center;
}

.attendance-box{
  font-size: 40px;
}



.check-comment{
  padding-top: 10px;
  margin-left: auto;
  margin-right: 40px;
  width: 400px;
  font-size: 30px;
  border: 1px solid black;
}
.check-comment p {
  margin-top: 10px;
}