
.new-main{
  background: url('check.jpg') no-repeat ;
  background-size: 1000px; 
  background-position: center; 
  width: 1500px;
  height: 530px;
  margin-top: 130px;
  
}

.new-messages{
  width: 1500px;
  height: 530px;
  background-color: white 0.5;
  padding: 100px;
  
}

.message1{
  font-size: 50px;
  text-align: center;
  line-height: 30px;
  text-shadow: 2px 2px 2px white;
  
}

.check-number{
  font-size: 30px;
  width: 90px;
  background-color: rgb(198, 235, 124);
}

.check-attendance{
  background-color: rgb(198, 235, 124);
}

.check_button{
  padding-left: 420px;
  padding-top: 50px;
}

.check-btn{
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #81d2dd;
  border-bottom: 5px solid #54c5bf;
  cursor: pointer;
  font-size: 40px;
  border-radius: 30px;
}