.show-main{
  width: 1500px;
  display: flex;
  background-color: rgb(238, 238, 201);
  margin-top: 30px;
  background: url('show1.jpg') no-repeat ;
  background-size: cover; 
  background-position: center; 
  margin-top: 130px;
}

.check20{
  margin-left: 60px;
  margin-top: 20px;
  font-weight: bold;
  height: 900px;
}

.check-show-table2{
  text-align: left;
  background-color:white;
  width: 400px;
  line-height: 10px;
  border-collapse: collapse; /* テーブルセルの境界を結合し、線を表示 */
  
}

.check-show-table2 th{
  border: 1px solid #000; /* セルの境界線 */
  padding: 7px; /* セル内の余白 */
  text-align: left; /* テキストの配置 */
  background-color: #f2f2f2; /* ヘッダーの背景色 */
}

.check-show-table2 td{
  border: 1px solid #000; /* セルの境界線 */
  padding: 7px; /* セル内の余白 */
  text-align: right; /* テキストの配置 */
}

.show-comment{
  height: 400px;
  width: 650px;
  padding-top: 20px;
  padding-left: 20px;
  margin-top: 20px;
  margin-left: 50px;
  font-size: 40px;
  
  border: 2px solid rgba(0, 0, 0, 0.37);
  border-radius: 30px;
}



.teacher-comment{
  text-align: center;
}

.show-comment p {
  
}

.count{
  padding-top: 5px;
  display: flex;
  width: 333px;
  
}

.number-count{
  padding-right: 20px;
}

.count1{
  background-color: #00FF00;
}

.count2{
  background-color: rgb(235, 163, 135);
}

.count3{
  background-color: skyblue;
}

