    <%= form_with(model: @comment, url:comments_path, local: true) do |f| %>
      <div class='comment-messages'>
        <h1 class='comment1'>
          <%= f.text_area :board,  placeholder: "コメントする", class:"board-text", id:"board-text" %>
        </h1>

        <div class="board_button">
          <%= f.submit "新しく作成する" ,class:"board-btn" %>      
        </div>
        
      </div>
    <%end%>