
<%#コメント記入欄%>
<div class="new-main7 " id="popup">
  <div class="blink"> 編集中... </div>
    <i class="far fa-times-circle new-main-close"></i>
    <%= form_with(model: @comment, url:comment_path(@comment), local: true,method: :patch) do |f| %>
      <div class='comment-messages-edit'>
        <h1 class='comment1-edit'>
          <%= f.text_area :board,  placeholder: "コメントする", class:"board-text-edit", id:"board-text" %>
        </h1>

        <div class="board_button">
          <%= f.submit "更新する" ,class:"board-btn" %>      
        </div>
        
      </div>
    <%end%>
</div>
<div class="maskEdit"></div>

 
    






  
