<%= render "shared/header" %>

<div class='top-main'>
  <ul class='top-contents'>
    <li><%= link_to('みんなのページへ', checks_path,class:"sign-in1") %></li><br>
    <li><%= link_to('先生のページへ', comments_path,class:"sign-in1") %></li>
    
  </div>
</div>