<%= render "shared/header" %>

<div class='top-main'>
  <ul class='top-contents'>
    <li><%= link_to('みんなのページへ', checks_path,class:"sign-in2",id:"sign-in3") %></li><br><br><br>
    <li><%= link_to('先生のページへ', comments_path,class:"sign-in3",id:"sign-in4") %></li>
    
  </div>
</div>