<%= render "shared/header_top" %>

<div class='top-main'>
  <ul class='top-contents'>
    <li><%= link_to('ã¿ã‚“ãªã®ãƒšãƒ¼ã‚¸ã¸ðŸŽ', checks_path,class:"sign-in2",id:"sign-in3") %></li><br><br><br>
    <li><%#= link_to('å…ˆç”Ÿã®ãƒšãƒ¼ã‚¸ã¸', comments_path,class:"sign-in3",id:"sign-in4") %></li>
    
  </div>
</div>