.date-contents{
  font-size: 30px;
}

.child{
  margin-right: 20px;
}

.show-page{
  display:flex;
  flex-flow: column;
  margin-right: 20px;
}
/*先生アイコン*/
.sensei-icon{
  width: 5vw;
  margin-right: 20px;
}

.log_out-icon{
  width: 5vw;
}