.date-contents{
  font-size: 20px;
}

.date1 {
  font-size: 30px;
}

.child{
  margin-right: 20px;
}

.show-page{
  display:flex;
  flex-flow: column;
  margin-right: 20px;
}
/*右上のリンク*/
.child-content{
  text-decoration: none;
  padding: 10px;
  background-color: #81d2dd;
  border-bottom: 5px solid #54c5bf;
  cursor: pointer;
  font-size: 20px;
  border-radius: 30px;
  margin-right: 20px;
}

.sensei-content{
  text-decoration: none;
  padding: 10px;
  background-color: #81d2dd;
  border-bottom: 5px solid #54c5bf;
  cursor: pointer;
  font-size: 20px;
  border-radius: 30px;
  margin-right: 20px;
}

.log_out-content{
  text-decoration: none;
  padding: 10px;
  background-color: #81d2dd;
  border-bottom: 5px solid #54c5bf;
  cursor: pointer;
  font-size: 20px;
  border-radius: 30px;
}