.date-contents{
  font-size: 20px;
  margin-left: 70px;
}

.date-contents p {
  text-align: center;
}


.date1 {
  font-size: 30px;
}

.child{
  margin-right: 20px;
}

.show-page{
  display:flex;
  flex-flow: column;
  margin-right: 20px;
}
/*右上のリンク*/
.child-content{
  width: 110px;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  background-color: #81d2dd;
  border-bottom: 5px solid #54c5bf;
  cursor: pointer;
  font-size: 10px;
  border-radius: 30px;
  margin-right: 20px;
  color: blue;
  
}

.grade-class1{
  margin-left: 20px;
  font-size: 15px;
}

