<header class='check-top-page'>
 
  <div class='easy-bar-content'>
    <%= link_to image_tag("school.png", class:"school-icon"),checks_path %>
  </div>

  <div class='date-contents'>
    <p>今日は <%= l Date.today, format: "%-m月%-d日(%a)" %>です。</p>
    現在時刻：<p class='clock' id="Clock"></p>
  </div>

  <div class='nav'>
    <ul class='list-nav'>
      

      <li class='child'>
        <%= link_to image_tag("child-penguin.png", class:"child-icon") %>
        <%= link_to "みんなのページへ", checks_path,class:"child-content" %>
      </li>

    </ul>
  </div>
 
</header>


