<header class='check-top-page'>
 
  <div class='easy-bar-content'>
    <%= link_to image_tag("school.png", class:"school-icon") %>
  </div>

  <div class='date-contents'>
    <p>今日は <%= l Date.today, format: "%-m月%-d日(%a)" %>です。</p>
    現在時刻：<p class='clock' id="Clock"></p>
  </div>

  <div class='nav'>
    <ul class='list-nav'>
      
    </ul>
  </div>
 
</header>