
<%# session,registration,checks_index%>
<header class='check-top-page'>
 
  <div class="header-left">
    <div class='easy-bar-content'>
      <%= link_to image_tag("school.png", class:"school-icon",id:"school"),checks_path %>
    </div>

    <div class="grade-class">
      <% if user_signed_in? %>
        <p>クラス : <%= current_user.grade_id %>年 <%= current_user.class_id %>組</p>
      <% end %>
    </div>
  </div>

  <div class="container5">
    <div class="edge-clock">
      <span class="clock-hour"></span>
      <span class="clock-min"></span>
      <span class="clock-sec"></span>
      <span class="clock-12">12</span>
      <span class="clock-3">3</span>
      <span class="clock-6">6</span>
      <span class="clock-9">9</span>
    </div>
  </div>

  <div class='date-contents'>
    <% date = Date.today %>
    <% jp_day = %w(日 月 火 水 木 金 土)[date.wday] %>
    今日は<span class="date1"> <%= date.strftime("%-m月%-d日(#{jp_day})") %></span>です。
    
    
    <p class='clock' id="Clock"></p></p>
  </div>

  <div class='nav'>
    <ul class='list-nav'>
      
    </ul>
  </div>
 
</header>