    <%= form_with model: @check, url:checks_path,local: true do |f| %>
      
      <div class='new-messages'>
        <h1 class='message1'>
          わたしは、<br><br>
          (<%= f.collection_select(:number_id, Number.all, :id, :name, {}, {class:"check-number"}) %>
          番さんは、)<br><br>
         
          <%= f.collection_select(:attendance_id, Attendance.all, :id, :name, {}, {class:"check-number"})   %>
        </h1>

        <div class="check_button">
          <%= f.submit "更新ボタン" ,class:"check-btn" %>      
        </div>
        
      </div>

    <%end%>