
<%= render "shared/header_top" %>


  <div class='main'>
    
    <div class='form'>
      
        
        <div class='messages'>
          <h1 class='good-morning'>
            <span>おはよう！</span>
          </h1>
        </div>

        <div class='form-button'>
          <%= link_to '出欠かくにんへ🍎',new_check_path, class:"sell-btn",id:"sign-in1" %>
        </div>
      <%# end %>
    </div>
  </div>
